/*


Colours
---------
Dark Blue
#003a70

Orange:
#E87722

Lightgrey
#ccd7e2
---------

*/
/*===========================
Universal
===========================*/
/* Fonts imported */
@font-face {
    font-family: biosansreg;
    src: url(https://moodle.eit.edu.au/theme/classic/fonts/flat-it_-_biosans-regular.woff);
}

@font-face {
    font-family: biosansbold;
    src: url(https://moodle.eit.edu.au/theme/classic/fonts/flat-it_-_bio_sans_bold.woff);
}

body {
    font-family: biosansreg;
    /* Font colour change */
    color: #333;
}

/* All hyperlinks */
a {
    color: #333;
    /* text-decoration: underline; */
}

/* Course content links (overrides above styling for anything in course page) */
.course-content a {
    text-decoration: underline;
}


/* Button general */
.btn {
    border-radius: 0;
}


/* Primary main button */
.btn-primary {
    background: #003a70;
}

/* Secondary main button */
.btn-secondary,
.btn-default {
    background: white;
}

/* More padding added to the cells */
td {
    padding: 5px;
}

/* The entire body */
#page {
    margin-top: 0;
}

/* Header for login page */
.card-header {
    background: #003a70;
    color: white;
}



/*===========================
Nav Menu
===========================*/
/* Main nav menu */
.navbar {
    /* Made white to remove the transparency */
    background: #003a70;
    position: static;
    padding: 60px 10px 46px 10px;
    display: flex;
    align-items: end;
    color: white;
    background-image: url(https://eitcdn.eit.edu.au/moodle-redesign-v2/elements/eit_logo.png);
    background-position: 0 6px;
    background-repeat: no-repeat;
    background-size: 200px;
}

/* Navbar grouped items to be made white */
.navbar span,
.navbar a,
.popover-region {
    /* Text and icons sent to white */
    color: white;
}

/* Navbar white colour exemptions */
.navbar .dropdown-menu-right a,
.navbar .dropdown-menu-right span {
    /* Text and icons sent to white */
    color: initial;
}

/* Making the logo clickable */
/*
.navbar-brand.d-none.d-sm-inline {
     display: block; */
/* position: absolute;
    top: 0;
    height: 106px;
    width: 182px;
}*/

.navbar-brand.d-none.d-sm-inline span {
    visibility: hidden;
}

/*===========================
Quick Selection Menu
===========================*/
/* Wrapped menu */
.quickSelectionMenu {
    text-align: center;
    margin-bottom: 15px;
}

/*===========================
Course Page Header
===========================*/
/* Main header card */
#page-header .card-body {
    background: #003a70;
    background-repeat: no-repeat;
    color: white;
}

/* Header breadcrumbs */
#page-header .card-body a {
    color: white;
}


/*===========================
Collapsible Topics
===========================*/
/* The entire collapsible topic container */
.topics .content {
    margin-bottom: 25px !important;
}

/* Collapsible topic parent */
.sectionhead {
    background: none !important;
}

/* Collapsible topic */
.the_toggle {
    display: block !important;
    background: rgb(240, 240, 240) !important;
    padding: 15px 0 15px 105px !important;
    transition: .3s !important;
    text-align: left !important;
}


/* New summary text */
.newSummaryText {
    margin-top: 10px;
    margin-bottom: 15px;
}


/* Collapsible topic hover */
.the_toggle:hover {
    filter: brightness(0.9);
}

/* Collapsible topic text */
.sectiontoggle.collapsed span {
    color: #7BA4DB !important;
}

/* Header text */
.course-content ul.collapsibletopics li.section .sectionname {
    /* Header text made blue */
    color: #003a70 !important;
}

/* Background image if topic is not collapsed */
.the_toggle.toggle_closed {
    background-image: url(https://eitcdn.eit.edu.au/moodle-redesign-v2/elements/topic_image_right.png) !important;
    background-position: 0 -4px !important;
    background-size: 74px !important;
    background-repeat: no-repeat !important;
}

/* Background image if topic is collapsed */
.the_toggle.toggle_open {
    background-image: url(https://eitcdn.eit.edu.au/moodle-redesign-v2/elements/topic_image_down.png) !important;
    background-position: 0 -4px !important;
    background-size: 74px !important;
    background-repeat: no-repeat !important;
}

/* Removal of topic summaries */
/* 
.summary.summaryalwaysshown {
    display: none;
} */

.course-content ul.ctopics li.section .content .toggle span:hover,
.course-content ul.ctopics li.section .content.sectionhidden .toggle span:hover {
    color: initial !important;
}

/* Media queries */
@media only screen and (max-width: 911px) {

    /* Force images to fit to smaller device */
    .region-main-content img {
        max-width: 100% !important;
    }
}





/*===========================
Cards
===========================*/
/* Card headers */
.card-body h5 {
    background: #003a70;
    background-image: url(https://eitcdn.eit.edu.au/moodle-redesign-v2/elements/header_orange_dash.png);
    background-position: -22px 0;
    background-repeat: no-repeat;
    color: white;
    /* Made the background colour stretch the whole card */
    display: block !important;
    padding: 10px 0 10px 26px;
    /* Bypass the card padding restriction without removing the padding for the rest of the card */
    margin: -16px -16px 0 -16px;
    /* Font bolded */
    font-weight: bold;
}

/*===========================
Time Zone
===========================*/

/* Automatically hide the incorrect time zone sticker */
.timezoneIncorrect {
    display: none;
}

/*===========================
Calendar
===========================*/
/* Calendar focused on day */
.calendarwrapper .today {
    background: rgba(235, 120, 35, 0.22);
}



/*===========================
Footer
===========================*/
footer.bg-dark {
    background: #003a70 !important;
}

/*===========================
Dom Tools
===========================*/
.domAdminPanel {
    background: purple;
    border-top: 5px solid purple;
    color: white;
    /* padding: 8px; */
    z-index: 9999;
}

/*===========================
Stickers
===========================*/
/* Inspired from https://birdyoz.github.io/helpers/ui-elements.html */

/* Entire sticker */
.well.card {
    border: none;
}

/* Removal of borders on all EIT stickers */
.sticker-eit {
    border: none;
    font-size: 125%;
}

/* Think sticker */
.think.sticker-eit {
    color: #28a745;
}

.think.sticker-eit:before {
    content: "\f0eb";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Read sticker */
.read.sticker-eit {
    color: #17a2b8;
}

.read.sticker-eit:before {
    content: "\f02d";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Discuss sticker */
.discuss.sticker-eit {
    color: #ffc107;
}

.discuss.sticker-eit:before {
    content: "\f086";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Activity */
.activity.sticker-eit {
    color: #c30;
}

.activity.sticker-eit:before {
    content: "\f0ae";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Danger sticker */
.danger.sticker-eit {
    color: #d9534f !important;
}

.danger.sticker-eit:before {
    content: "\f071";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}


/* Quiz sticker */
.quiz.sticker-eit {
    color: orange;
}

.quiz.sticker-eit:before {
    content: "\f0ae";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Assessment sticker */
.assessment.sticker-eit {
    color: #15aabf;
}

.assessment.sticker-eit:before {
    content: "\f15c";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Pre-recordings sticker */
.prerecordings.sticker-eit {
    color: darkred;
}

.prerecordings.sticker-eit:before {
    content: "\f03d";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Individual sticker */
.individual.sticker-eit {
    color: lightgray;
}

.individual.sticker-eit:before {
    content: "\f007";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Group sticker */
.group.sticker-eit {
    color: purple;
}

.group.sticker-eit:before {
    content: "\f0c0";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Software sticker */
.software.sticker-eit {
    color: #df691a;
}

.software.sticker-eit:before {
    content: "\f085";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Clipboard sticker */
.clipboard.sticker-eit {
    color: pink;
}

.clipboard.sticker-eit:before {
    content: "\f46c";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Checklist sticker */
.checklist.sticker-eit {
    color: lightblue;
}

.checklist.sticker-eit:before {
    content: "\f14a";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/* Suppresource sticker */
.suppresource.sticker-eit {
    color: lightgreen;
}

.suppresource.sticker-eit:before {
    content: "\f02e";
    font: normal normal normal 23px/1 FontAwesome;
    padding-right: 7px;
}

/*===========================
Login Module
===========================*/
/* Login module https://html-css-js.com/css/generator/box-shadow/ */
#page-login-index .card {
    background: #f8f9fa;
    box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.61);
    border: none;
}

/* Login module heading block */
#page-login-index h2.card-header.text-center {
    border-radius: 0;
}

/* Background image */
#page-login-index #region-main-box {
    transition: .1s;
    background-repeat: no-repeat;
    background-size: cover;
}

/* EIT Logo*/
#page-login-index .forgetpass.mt-3:before {
    content: url("https://eitcdn.eit.edu.au/moodle-redesign-v2/elements/eit_logo_small.png");
}

/* Footer on Login */
#page-login-index footer#page-footer {
    display: none;
}

/*===========================
Misc + Need to be Amended
===========================*/
/* Media queries */
@media only screen and (max-width: 575px) {
    /* Force courses to display 100% width */
    .block_myoverview .dashboard-card-deck .dashboard-card,
    .block_recentlyaccesseditems .dashboard-card-deck .dashboard-card {
        width:100%;
    }
}

/* Force the attendance module to have the names displaying on page */
#page-mod-attendance-report .left.headcol {
    left: 20% !important;
}


/* Keep the body of a course within mobile constraints */
.region-main,
.blockcolumn {
    width: 100% !important;
}

/* "Add Submission" made a darker colour (requested by Jacqui 11-Dec-2019) */
[type="submit"] {
    background: #003a70;
    color: white;
}

[type="submit"]:hover {
    background: #0e63ae;
    color: white;
}


/* Search function made white */
.search-input-wrapper {
    color: white !important;
}

/* Highlight the assignment modules and quiz modules */
.modtype_quiz,
.modtype_assign {
    background: rgba(0, 58, 112, 0.05);
    border-left: 3px solid #e87722;
}

/* Removal of the border radiuses */
.card,
#region-main,
.form-control,
button,
input {
    border-radius: 0 !important;
}

/* Greeting added to the logged in user module */
.myprofileitem.fullname:before {
    content: "Hi";
}


/* Notification panel made #333 */
.popover-region-container {
    color: #333;
}

/* Hide the messages and notifications button */
div#nav-notification-popover-container,
a#message-drawer-toggle-5ddb6eee5dffe5ddb6eee50e1c54 {
    display: none !important;
}


/* Hide the messaging icon */
[title="Toggle messaging drawer"] {
    display: none;
}


/* UTC TimeStamp */
.utcTimeStamp {
    text-align: center;
    display:flex;
    align-items:center;
    margin-right: 10px;
    font-size: 125%;
}

/* UTC TimeStamp removal */
@media only screen and (max-width: 573px) {
    .utcTimeStamp {
        display: none;
    }
}

/* Fix the quiz background colour */
.formulation.clearfix {
    background: white;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

/* Remove the quick selection menu on the front page */
#page-login-index .quickSelectionMenu {
    display: none;
}